nav a {
  color: rgb(248, 248, 248) !important;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  position: relative;
  font-family: overpass, sans-serif;
}

.navFirstSearch {
  display: none;
}

.navSecondSearch {
  display: block;
}

@media (max-width:992px) {

  nav a::after,
  nav .active:after {
    transform: scaleX(0);
  }

  nav .active:after {
    transform: scaleX(0);
  }

  .navFirstSearch {
    display: block;
  }

  .navSecondSearch {
    display: none;
  }
}

@media (min-width:992px) {
  nav a::after,
  nav .active:after {
    content: '';
    background-color: white;
    position: absolute;
    bottom: 0;
    left: .4rem;
    height: 3px;
    width: 80%;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
  }

  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transform-origin: top left;
  }

  nav .active:after {
    transform: scaleX(1);
  }
}